@model WebShop.ViewModels.RegisterUserViewModel

@{
    ViewBag.Title = "Сменить пароль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "auth-fields" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div class="auth-element">
        новый пароль*
        <div>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>
    <div class="auth-element">
        <div>
            <input type="submit" value="Сменить пароль" class="btn btn-primary" />
        </div>
    </div>
}
