@model WebShop.ViewModels.LoginUserViewModel

@{
    ViewBag.Title = "Авторизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class="auth-fields"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="auth-element">
            Имя пользователя*
            <div>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="auth-element">
            Пароль*
            <div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="auth-element">
            <div>
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
        </div>
    }


