@{
    ViewBag.Title = "Главная";
}
<div class="filter-bar">
    <div class="filter-border">
        @using (Html.BeginForm("Index", "Shop", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <input type="text" name="search" class="form-control" value="@ViewBag.search" />
            <button type="submit" class="btn btn-info"><i class="fas fa-search"></i></button>

        }

        <div class="filtering">
            @using (Html.BeginForm("Index", "Shop", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <label>Сортировка</label>
                <select id="order" name="order">
                    <option value="byName" @ViewBag.byNameSelected>По имени, по возрастанию</option>
                    <option value="byNameDesc" @ViewBag.byNameDescSelected>По имени, по убыванию</option>
                    <option value="byPrice" @ViewBag.byPriceSelected>По цене, по возрастанию</option>
                    <option value="byPriceDesc" @ViewBag.byPriceDescSelected>По цене, по убыванию</option>
                </select>
                <div class="checkbox-input">
                    <label>Производитель</label>
                    @{
                        foreach (var manufacturer in Model.Manufacturers)
                        {
                            <input type="checkbox" id="manufacturers" name="manufacturers" value="@manufacturer.Id" />
                            @manufacturer.Name;
                            <br />
                        }
                    }
                </div>
                <label>Цена</label>
                <input id="price" name="price" type="number" placeholder="От" />
                <input id="price" name="price" type="number" placeholder="До" />
                <button type="submit" class="btn btn-info">Фильтр</button>
            }
        </div>
    </div>


</div>

<div class="products-list">
    @{
        foreach (var product in Model.Products)
        {
            using (Html.BeginForm("Product", "Shop", new { id = product.Id }, FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="product-button">
                    <div id="prices">
                        @product.Price руб.
                    </div>
                    <div class="attributes-list">
                        @Model.GetManufacturer(product.ManufacturerId) @product.Name
                    </div>
                    <img src="@Url.Content($"~/Content/Img/{product.Image}")" />
                </button>
                <br />

                if (Session["userName"] != null)
                {
                    var cartId = $"cart-{@product.Id}";
                    <div id="@cartId" class="cart-action">
                        @Ajax.ActionLink("ДОБАВИТЬ В КОРЗИНУ", "AddToCartPartial", new { productId = product.Id }, new AjaxOptions { UpdateTargetId = cartId })
                    </div>
                }
            }
        }
    }
</div>


@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>
}