@{
    ViewBag.Title = "Главная";
}

<div class="container">
    <div class="products-list">
        @{
            foreach (var product in Model.Products)
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="product-button">
                        <div id="prices">
                            @product.Price руб.
                        </div>
                        <div class="attributes-list">
                            @Model.GetManufacturer(product.ManufacturerId) @product.Name
                        </div>
                        <img src="@Url.Content($"~/Content/Img/{product.Image}")" />
                    </button>
                    <br />

                    if (Session["userName"] != null)
                    {
                        <div id="@product.Id" class="cart-action">
                            @Ajax.ActionLink("ДОБАВИТЬ В КОРЗИНУ", "AddToCartPartial", new { productId = product.Id }, new AjaxOptions { UpdateTargetId = $"{product.Id}" })
                        </div>
                    }
                }
            }
        }
    </div>
</div>

@section scripts{

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>
}